<%= form_with(model: product) do |form| %>
  <% if product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
        <% product.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :prodRef %>
    <%= form.text_field :prodRef %>
  </div>

  <div class="field">
    <%= form.label :prodName %>
    <%= form.text_field :prodName %>
  </div>

  <div class="field">
    <%= form.label :prodCity %>
    <%= form.text_field :prodCity %>
  </div>

  <div class="field">
    <%= form.label :prodPrice %>
    <%= form.text_field :prodPrice %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
